<h1>Hello {{name}}</h1>
<article>This template holds the TypeScript source code of the <a href="https://angular.io/docs/ts/latest/quickstart.html" target="_blank">angular.io quickstart</a>, for good starting Angular 2 client app with ASP.NET WebApi 2 backend.</article><br />
<p>See official Angular.io <a href="https://angular.io/docs/ts/latest/" target="_blank">documentation</a>.</p>
<p>See cookbook <a href="https://angular.io/docs/ts/latest/cookbook/visual-studio-2015.html" target="_blank">Visual Studio QuickStart</a>.</p>
<br />
<br />
<p>
<strong>For creating angular 2 component you can use <a href="https://marketplace.visualstudio.com/items?itemName=Mino.Angular2ComponentTemplate" target="_blank">template</a>.</strong>
</p>
<p>This template <a href="https://github.com/Burgyn/Angular2VisualStudioTemplate" target="_blank">GitHub repository</a>.</p>
<br />
<footer><a href="https://twitter.com/MinoMartiniak" target="_blank">Miňo Martiniak</a></footer>
